<div class="mainData">
    <button (click)="addStory()" class="addButton" mat-raised-button color="accent">Add Story</button>
    <div *ngIf="displayStory" id="topData">
        <form class="example-form" id="storyForm" #userForm = "ngForm" (ngSubmit)="saveData(userForm.value)">
            <mat-form-field class="example-full-width">        
            <mat-label>Story Name</mat-label>
            <input matInput placeholder="Story" name="story" [(ngModel)]="formData.story">
            </mat-form-field>
                
            <mat-form-field class="example-full-width">
            <mat-label>Enter Details of Story</mat-label>
            <textarea matInput placeholder="Details...." name="details" [(ngModel)]="formData.details"></textarea>
            </mat-form-field>

            <button type="submit" class="saveButton" mat-raised-button color="accent">Save</button>
        </form>
    </div>

    <div id="bottomData">
        <h1> Story List</h1>
        <p *ngIf="storyData.length === 0"> No Story Data </p>
        <div *ngFor="let s of storyData;" class="dynamicData">
            <p> 
                <span> Story Name : </span> {{s.story}}  <br>
                <span> Story Details : </span> {{s.details}}
            </p>
        </div>
    </div>
</div>